.todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 12px;
	border-bottom: 3px dotted black;
	padding:10px;
}

.todo-item p {
	margin: 0 auto;
	font-size: 1.2rem;
	text-align: left;
}

.button-group {
	padding:0px;
}

.button-group i {
	padding:2.5px;
}

input {
  min-height: 35.455px;
  width:100%;
}

.editing-form {
	margin: 0px;
	width:100%;
}

